@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    background-image: linear-gradient(rgb(255, 0, 221), rgb(112, 11, 126), blueviolet);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px;
}

.conteudo .titulo {
    font-weight: 900;
    font-size: 2rem;
    line-height: 23.44px;
    width: 287.25px;
    height: 46px;
    margin-bottom: 11px;
}

.conteudo .texto {
    font-size: 1.5rem;
    width: 300px;
    height: 54px;
}

.conteudo .titulo,
.conteudo .texto {
    color: #FFF;
}

.formulario, .conteudo {
    max-width: 340px;
    max-height: 378px;
}

.formulario {
    background-color: #FFF;
    font-display: flex;
    flex-direction: column;
    padding: 20px;
}

.formulario input {
    width: 298px;
    height: 35.11px;
    margin-bottom: 15px;
}

.formulario textarea {
    width: 298px;
    height: 100px;
    resize: none;
    margin-bottom: 16px;
}

.formulario input,
.formulario textarea {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
    transition: 0.4s ease-in-out;
}

.formulario .informacao {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 11px;
    transition: 0.4s ease-in-out;
}

.formulario .btn-enviar {
    background-color: #3CCC87;
    display: inline-block;
    width: 100%;
    height: 41.13px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.4);
}

.formulario .btn-enviar .enviar {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario .btn-enviar:hover { 
    background-color: #0CCE70;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.7);
}

.formulario .input.borda-verde{
    border: 1px solid #00C22B;
}

.formulario .input.borda-vermelha{
    border: 1px solid #F52E2E;
}

.formulario .input.borda-verde:focus {
    outline: none;
    border: 2px solid #00C22B;
    transition: none;
}

.formulario .input.borda-vermelha:focus {
    outline: none;
    border: 2px solid #F52E2E;
    transition: none;
}

.formulario .campos-obrigatorios {
    color: #F52E2E;
    font-weight: bold;
}